@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --Moderate-blue: hsl(238, 40%, 52%);
  --Soft-Red: hsl(358, 79%, 66%);
  --Light-grayish-blue: hsl(239, 57%, 85%);
  --Pale-red: hsl(357, 100%, 86%);
  --Dark-blue: hsl(212, 24%, 26%);
  --Grayish-Blue: hsl(211, 10%, 45%);
  --Light-gray: hsl(223, 19%, 93%);
  --Very-light-gray: hsl(228, 33%, 97%);
  --White: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--Very-light-gray);
  padding: 2rem;
  max-height: 100vh;
}

input {
  font-family: inherit;
}

@media only screen and (max-width: 500px) {
  body {
    padding: 2rem 1rem;
  }
}
